nav {
    margin-right: 100px;
    padding: 30px;
    text-align: right;
}

a {
    padding: 30px;
}

h1 {
    text-align: left;
    color: magenta;
    font-size: 150px;
}

h2 {
    text-align: center;
}

header {
    background-color: navy;
}

.modal-body-about {
    background-image: url("img/masha.jpg");
    background-repeat: no-repeat;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 50px;
    height: 100%;
    text-align: left;
}

.modal-body-contact {
    background-color: maroon;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-right: 50px;
    height: 100%;
    text-align: left;
}

.modal-backdrop.in {
	opacity: 0.9;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#divider {
    background-color: peachpuff;
}

#projects {
    background-color: lightslategray;
}